body {
    padding: 10px;
    background-color: grey;
    
}
.listing{
    font-size: 10px;
    text-align: left;
    margin-bottom: 10px;
    padding: 30px 0;
    display: flexbox;

}

.image{
    
    width: 100px;
    border: 1px solid gray;
    display: inline-block;
    height: 100%;
    bottom: 25%;

}

.content{
    display: inline-block;
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
}
