body {
    padding: 10px;
    
    
}
.listing{
    font-size: 10px;
    text-align: left;
    margin-bottom: 10px;
    padding: 30px 0;
    display: flexbox;

}

.image{
    margin-left: 0;
    width: 100px;
    border: 1px solid gray;
    display: block;
    height: 100%;
    bottom: 25%;
    border-radius: 10px;

}

.content{
    display: block;
    width: 75%;
    border: 1px solid gray;
    padding: 10px;
}

