{% extends "auctions/layout.html" %}

{% block body %}

<h2>Active Listings</h2>
{% for list in Listings %}
<div class="listing">
    <div class="image">
        {% for picture in Picture %}
        <img src= { picture } alt={{ picture.alt_text }}>
        {% endfor %}
    </div>
    <div class="content"> 
        <h2>{{ list.title }}</h2>
        <p>
            Starting bid: ${{ list.starting_bid }}<br>
            Current bid: ${{ list.current_bid }}<br>
            Category: {{ list.category }}<br>
            Created on: {{ list.created_date }}
        </p>
    </div>
{% empty %}
<ul>
    <li>No listings currently displayed</li>
</ul>
{% endfor %}


</div>


{% endblock %}