{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<h2>Active Listings</h2>
{% for list in Listings %}
<div class="listing">
    
    <div class="content"> 
        <h2>{{ list.title }}</h2>
        <p>
            Starting bid: ${{ list.starting_bid }}<br>
            Current bid: ${{ list.current_bid }}<br>
            Category: {{ list.category }}<br>
            Created on: {{ list.created_date }}
        </p>
        <div class="image">
            {% if list.image %}
            <img style="width: 100%; height: 100%; border-radius: 10px;" src="{{list.image}}" alt="">
            {% endif %}
            
        </div>
    </div>
{% empty %}
<ul>
    <li>No listings currently displayed</li>
</ul>
{% endfor %}


</div>


{% endblock %}